body,
button,
input,
select,
optgroup,
textarea {
	color: $colorForTextBlack;
	font-family: $colorForTextBlack;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";
