.front-page{
	position: relative;
}
.front-page-design{
	position: relative;
}

//about section

.about-section{
	position: absolute;
	
	.about-conatiner{
			ul{
				margin: 0;
			}
	}
}


//spacer

.portfolio-section{
	height: 400rem;
}